.alert-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 1em;
    
    .alert-tile{
        // border: 2px solid black;
        padding: 2px 10px;
        border-radius: 10px;
        transition-duration: 200ms;
        box-shadow: 5px 5px 5px #aaaaaa;
        &:hover{
            box-shadow: 10px 10px 5px #aaaaaa;
        }
        
        .title{
            cursor: pointer;
            font-weight: 500;
            font-weight: 100px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.5rem;
            
        }
        .url{
            cursor: pointer;
            color: #18bae0;
            text-transform: uppercase;
            // background-color: #18bae0;
            &:hover{
                color: blue;
                text-decoration: underline;
            }
        }
        .alert-price{
            text-transform: capitalize;
            color: orange;
        }
        

        .actions{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .active{
                text-transform: uppercase;
                color: green;
                background-color: lightgreen;
                max-width: fit-content;
                margin: auto;
                padding: 3px;
                border-radius: 6px;
            }
            .pause{
                text-transform: uppercase;
                color: red;
                background-color: #ffcccb;
                max-width: fit-content;
                margin: auto;
                padding: 3px;
                border-radius: 6px;
            }
            .event{
                font-size: 24px;
                cursor: pointer;
                .play{
                    transition-duration: 200ms;
                    &:hover{
                        color: blue;
                    }
                }
                .pause{
                    transition-duration: 200ms;
                    &:hover{
                        color: orange;
                    }
                }
                .delete{
                    transition-duration: 200ms;
                    &:hover{
                        color: #d4434b;
                    }
                }
            }
        }
    }
}