
    .detail{
        .title{
            font-weight: 500;
            font-size: 24px;
        }
        .url{
            color: #18bae0;
            cursor: pointer;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                text-decoration: underline;
            }
        }
        .price{
            margin: auto;
            width: max-content;
            margin-top: 2vh;
            margin-bottom: 2vh;
            td{
                padding: 5px;
                font-weight: 500;
                // background-color: lightgray;
            }
            .max{
                background-color: lightcoral;
                color: #c81918;
                
            }
            .min{
                background-color: lightblue;
                color: mediumslateblue;
            }
            .alert-price{
                background-color: lightyellow;
                color: goldenrod;
            }
        }
    }
