@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300|Montserrat:wght@500');
body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'DM Mono', monospace;
}